.carousel {
  box-sizing: border-box;
  height: 480px;
  overflow: hidden;
  padding-top: 45px;
  padding-bottom: 120px; }
  .carousel .carousel-inner {
    text-align: center; }
  .carousel .carousel-control {
    width: 60px;
    background-image: none; }
  .carousel h4, .carousel p {
    color: #fff; }
  .carousel h4 {
    position: relative;
    display: inline-block;
    margin: 0 auto 60px;
    padding: 0 100px;
    line-height: 52px; }
    .carousel h4:before, .carousel h4:after {
      display: block;
      width: 62px;
      height: 50px;
      content: ' ';
      position: absolute;
      left: 0;
      background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAAyCAMAAAAz3ZgNAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEXRSTlMAAwYWKjMaDSAmCh0tIxAwE2+2nK0AAAE6SURBVHgBhdXnooMwDINROyAIM7z/0959U1Rs6e93WlaHJfMSFQ3KMGKKogD+mYCgKjBXAGEVYF6AuAqw9sZVA9+AqGow7wirBhsQVQ18obZPpddHsHVQxns7Tr7sDKzt1moxWhkT4Du3+NgMKO6zve8VNAYVfaNTlODMogTeemyFogZVfMxty0DBy5yiAHTwhZoAdGGoXBkcXC+Il1/IXn5AXHsOcNtAVYEZ9133rMAE2uaWg+rhlfFXRoIF7zu8dwHwtLaaacCVswZBxe5mGnDlb5YEUW0uXg5P66BePqT1UC9f7HN7VNtn1GBBtM+owZRWCc60atDSKkFNqwQraPybWnJw5B8bPjwDb4+1fCYNonu7Wd+cg4sT/48KcLb01RKU+traZDwXoGzjbxsHpxYA3jp/zvo0+ACYESWTV6uqkgAAAABJRU5ErkJggg==); }
    .carousel h4:after {
      left: auto;
      right: 0;
      bottom: 0;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAAxCAQAAAAontIaAAABlUlEQVR4Aa2Xh6rjQBAEDc5hL+e44PjstyDQ/39bH9FJoVDP7ZChqi17Zj0atR0l/birNBp8LINmyqpUNyqzAAxbMOiH6p7aakzRYDho1gVm1VCVVk0ubkCQ4/XbNCgxdoWbX13MoAND1zq0hm9Ng2aqB9XHRvTYNujdQLRc0bihMSBc6Qq7hnc+msPh2UdLOLz4aH0dl5iBUf7VAwZ9NNAv0O1cP2DOAb2ekEFnG40b9DEQHjfobKNxg1aq7PC4QR9tlHueDUqqvFG7GlYBg8bKxiXz/wxKKmJ03Ls4n9ngL5NVk3ENxhoN2VGDztAseLS1Dfpo/F5hAy+FZ0iNG5Rw9yTDyjboo9npfONVGrvD8gPAuEEzXB1DBm/QEoD8CvbO/cJ+h7/yTAOy7RoQaJSoQUlF/GrrGlZ9LXJQDSA12dYwKDUwBuMGjfVRRbUXfTWcyQD/PF6bKbOho1sI5OFig4cWvlLY4KG/earZ4KAZZpoNW7EBgz1DGo4W/YBgMlT6PcBwhbLeDUyNG1T0GyA2ZM/wD6qoTMfkV3P+AAAAAElFTkSuQmCC); }
  .carousel p {
    margin-bottom: 30px;
    padding-right: 90px;
    padding-left: 90px;
    line-height: 40px; }

@media (max-width: 1199px) {
  .carousel p {
    line-height: 150%;
    font-size: 16px; } }

@media (max-width: 479px) {
  .carousel {
    height: 720px; }
    .carousel p {
      padding-right: 60px;
      padding-left: 60px; }
    .carousel h4 {
      padding-right: 72px;
      padding-left: 72px; } }
