.definition-list {
  box-sizing: border-box;
  width: 260px;
  margin-right: 30px;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-size: 15px;
  background-color: #fff; }
  .definition-list:last-of-type {
    margin-right: 0; }
  .definition-list dt {
    height: 90px;
    line-height: 90px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff; }
  .definition-list dd {
    margin-right: 30px;
    margin-left: 30px;
    line-height: 38px;
    font-weight: 300;
    color: #5a5a5a; }
    .definition-list dd.button-wrap {
      margin: 15px 20px 0; }
  .definition-list .btn {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px; }
  .definition-list.dl-small.dl-primary dt {
    background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQQAAABaCAMAAABpJdgLAAAAQlBMVEU4iccwd603iMY5jMw5jMw5jMwAAAA3iMc4iccwd604icgxd644iMc4iMcwdqwwdqwwdq03iMY5jMw4iMc3iMY4icfoe9GjAAAAFnRSTlP/////vQoA/70K////vf8K/728vLy8OOXA5gAAAT1JREFUeAHk1rdiwgAMRVG5927//6cSAjxNLrtuAlyKpjcdsyTN/v8iNy/K2z/CBtnTClb9bmO3bm5H+Ny0XR+8Q/E0gv3fBm9e3I/Qj2mWRe/dCgbY4Ndhuh7B5s8NoEtxMYI7gewF3aC94E4ge8GdQPYCxgnqWpCdoK4F2QnqNpGdoO4F2QnqWpCdoK4F2Qnq0ZCdoG4F0gk3XnAnkL3gTiB7wZ1A9oI7gewFfYf2gjuB7AV3AtkL7gSyF9wJZC+Y3pO9QHaCuqOdoOo9umgnqGgnqGgnqGgnqH/t1kEBAAAEBLD+rV0LsNcqzBOiJ0RP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ARP8ISZFoOrenyvLbNhAAAAAElFTkSuQmCC); }
  .definition-list.dl-small.dl-success dt {
    background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQQAAABaCAMAAABpJdgLAAAAOVBMVEVZhSxNcyZYhCxbiC1biC1biC0AAABNdCZZhCxZhSxNdCZOdCZZhCxNcyZYhCxbiC1ZhSxYhCxZhCxEtpN4AAAAE3RSTlP/////vQoA//+9Cv+9Cr28vLy8EHk5OAAAAT1JREFUeAHt1jeShjAQBWHhvb3/Xde/mgSTbun1b+hkIiTQl1JRVt+fnFs37eMndf3vbM59uwtJs3l3GB9vwu/s1GfeuXm7CWn6Suatm+ebkIqv+5V7n+5C0ns0/w7L7U3QjEHX5u4maMbYC+EEZy+EE4y9EE4w9oKNE9StcXaCujXOTlD3xdkJ6tE4O0HdGmcnqFvj7AR1H52doJ6NsxPCC85OCC84OyG84OyE8IKzE8ILzk4ILzg7Ibzg7ITwgrMTwgvOTggvhBOcveDsBPWwdoJq7QTV2gmqtRNUayeoOOGrOOGrOOGrOAEn4AScgBNwAk7ACTgBJ+AEnIATcAJOwAk4ASfgBJyAE3ACTsAJOAEn4AScgBNwAk7ACTgBJ+AEnIATcAJOwAk4ASfgBJyAE3ACTsAJOAEn/M9+AkFJITjyfq+OAAAAAElFTkSuQmCC); }
