html,
body {
  background-color: #fff;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif; }

hr {
  display: block;
  width: 200px;
  height: 2px;
  margin: 40px auto;
  border: 0;
  background-color: #398ccc; }
  hr.large {
    margin: 60px auto; }

p {
  font-size: 20px;
  font-weight: 300;
  color: #5a5a5a; }

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: 900; }

h1, h2 {
  margin-bottom: 0;
  font-size: 46px;
  color: #4b4b4b; }

h3, h4 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 32px;
  color: #5a5a5a; }

li {
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif; }

.text-light {
  font-weight: 300; }

.section-dark {
  background-color: #f4f4f4; }

.section-highlight {
  background-color: #398ccc; }

.logo {
  display: block;
  width: 186px;
  height: 58px;
  overflow: hidden;
  text-indent: -999px;
  background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALkAAAA3CAYAAABQF+v0AAARR0lEQVR4Ae2bB3TTdrfA/+zNZzZ0PUP3xJQVMtXdvvdRzN5g9ipfTUY3idhkkCiBNDtx9z7P3bs10L1i9k7M5ls07E7uuxbKOTr3SMpfdmLC+6Rzfh3yX1eW/NPV/Y8wrW3KxAW9y8teTC8pfjajqPCZ9MbAs8+8nCmmZU5EmBksLDR3PvX4yinQCLfKn7YdQZiFhRk0dyYnpk745ZdzcPz4v+HUqZNw9uxZOHP69EXgDJzGfx8//i8AOA+ffrJhO8LMYGGhtRMlTxt37tw5+P333+DTj9d70xanj81YvXZaZvq66Znp+cg6Csf+tXQ/OUbVBvdnZeRPF1MzJhQXPPPov//1r3MAEJR8M8LCxsKSPCUpbfy5c2chuBXkly1C2MViiZjV9sCBQydlyT9dvxlhFhZm0Nqpkvw8lJe9kIawi4Wn4uU+VfuqT13I5Os3I8zCwgxaOxXJz8iSV6DkCLtYFBY806e6av+pSJYrQ7J+cCKigh1hnNgRFyIpuBGhjmMEREQ8yr9diEOvnYKdM5aTtLUjYogwgkP1GblGTUQFG8I4cKnuh/r/zSJoBZclD3Y8cWsckldHXPIAAgoSwurAprQDHfwa4toRn8ExEhFCVH0maAjn14ulkktAIEQYwUOuj9UBKHh5JFfdGx/5f7OIHJK/mIYwLRbMe6xN6uJV9qVixpVi2uorsaN4hZiaGfx3nSxZnHHFktT0K1evyO09YdzsjgjTIlKSkywOKmoQVgcSae9TCOiIYiOfBVTH1BAh6pLcRo7xq2LRh8aB+DTw0+M1oA81EBw8kiu4Q5Bc0vle9L5TXGFJnpdT6jpx8hQcOXwUDh86ghxFjiFHuTl+/Gf48ANfBcK0uAiSexEg4rgQpoODSGnTeO0GEFFHWLeGQKJyfoFDcg/5nlpvmJo6yi6Bxq4DN5ELEA+v5AqCScn1gLrahSX53xY8dn3+urLk3JyiRCm7KDFXKkjKlQq5kHIKE4MUFlSkuB9+8k6EaRFJyYMiEPkCxjeQyMdfb/p4X/MckgdMlgFhS07O6VHJbuOXnLZvNJJHnkhKTkSy0//nkI9xUkN/mDAkBwVPBCSnbV30/3lqch4xLckbCI3MbefogLpN1pq0E+UIU3K/qq63R0ByrcwdqOvNROJ7DO6rJXmEOpwujZtdY1STk4zqMCFsDedQpWFNTmLZGkhyG7lOre/m4JDcRjq7TkvyyEju1ZHZReXXE5AQqENev85Qowux8UpOR2pIWeCqZ8ndOjLbOcomGt+B1Kjuub1RSj5h7OxrVq2QHlu9UkpeuTw7ceUKNTkG4Ody+5ykZUuzkpcvzb4dYVpEQnL6I4VYQzuRgOE4tf7Ih1anzGkoOYlFMjp92IR6kjygiskIXsMOpXZ8F3nAbY1O8qyMwjmA25+/n4fffqvlD+R35E/kvAF/ygS3Tz7emI8wLSIkueHrlghk5xDGoyGvx6AEcKkkUePkkJw3liNMyQWjvgct9zglp3MMnkYn+ewZSa0WLni87wP3jb5/xLCp941wTkGmcoDthk1GJt039L/H3Tt96sIuCNMiQpIHSNajuGlHiRM3UmOik2knD1TAjOQEOx3JCFNyD3n4BArJyryS09LNZdXkDdvhNIZ/BtRcTU8gctrMS64tUBiS2xAwicOE5HZSnzssyesRmu0M8IcgK633xRCGC+1hSi7Wg+RuOu2vByk9eCWnySaA+C3JI9Hh1M9mPrIfMeyQ0h/YzrsWhmd0hfOtEOCX3FSHk+InHVBeyek1giV5+PBnR+MOqJ+OhhAB6Y/uUGVEO8daGCPJBdUPbK/jAfOEIjn5TAyjPONes9KoJF+2ZE3st99Uvr5xw9evbvB9/coG3zfcrMf26z//+pXvv/f/b55UOhNhWjSw5JoZilMGSS2kSlwRcSMi6XS6dbKVR3UMndixG0tO2iuxFOhnNl7JwxhZoqsi/byS0+MbjeTpq9aOOXTw6MmdO/ac2rF9z8kd23cje7jYrrQPVB88/dorb2UjTIuGkpxkORFhnARU4pC13LpIxqMu5sfJ6X4DAojD/Di5folm8o3n4JGc4GhwyZMT+cuVieNnN5k/J6UpwswyZ1ZikwXzHmmGMD0aUHIR8dHlsRw4EZ+CQyWDW9kXUK1tlgwEsyuf+1Qyeg2m5V3kvFQKD1nd6EXcnNfmoLH1r5ULh3J+n6pk4Y1Dr1fiKG8M27Gu/UdEdf7rohSE1fJ4ijiuVvJylBxhF4sileSffLxhM8JqaTdkUt+uQ5PvQ5geFhasY9SkzJs81dB9SvZKhAVZ8tSKCefONT7J13+2YQvCgjTvO/rGm57ecqbbQs+bCNPDwoK16T8qbVD+Tkh49hjYJmWvQtiiuYmD/vzt10Y0uhKQJf/2s/XfIIwNnHx9X6ny6D0vHYeu09c+jTA9LCxYmwGjFvfLqYQ71+2AuIqD0PTB5dKEhan5cP4XADgfluQtbhvR9fKFZWs63LNgAsJCQJa8qqpalvyrjV8FWtzzUMrV6d8fvrNwL8QX7oYu0/PyEaaHhQVrN2D04n6SH2KlTRCXXQk3rtkCQkUl7Dh15oLkJS+kIcwsrWOn33Vj+lebhWeOwICCXdB5qvQwwsxSmO/p84/AhXLliS8DcO0aP8TlboOYzO8grmgvdJmWl48wPSwsUPIxKHlQnM0Qlfk9xK1B0Vf/BHe9tAOq/gB4+6XXUxHGC+t0S9NO41cl9y/YCULBHojJ+A7ic7dAbPkBsCe+/GazvsNtCOPl9Wde7n30n/8+vcT/M9jTf4SorEqIzvoeYrJ+kCXH11E+wvSwsGBtB4xJrZVcHn5a8wPEoOz21C9hzEfHYW5meSLCeGjqGNH2ysRXPogpOyCLPQSzrRwT48Vm/QgJpQG4Oeu7A23iZ45CGA8PTkvq4PYdOnFNph8GrPgWYvD7YcxGJzkASIgPcSCsnnEgIiKEGcetxLEh7BLGjngQt8HnLkREXOpMrp5AQNF/gP7ZW+Aq8eMfWZ97eyDMiDZ3zh96U8bX2+KLq2ShUWx1PJlo3JeAndyBT++CHrMLHkdYXbSZlL34trztvw1J/x6iFcEbqeQ+BIiI9UVAiV0TRgwBqd08YTxsQgRFFnQeSC8COvfbidSAatORXAFLjbiCvXD9qo3bmg+acAXCtOg2VcoZULgHElDeaCo3BT+PkzZDXEk1XL34vc9bDJpwA8K0uMz9wtKoon0o9E80jiV5aILWblKIMfwIREhyyeB+iqBs5M1pUwnuVY51aEpOs+8dKNqtuZVVrYQ5DoTV0jJq8rV9Ut//LA7r7XhpE83e+ig19R2Y9R25/rPtR4pTEFZLkyuGtLky6ZXP4jEudoZp3P9Eye2IiNjDjONE3GGUKxBByY3vpyKwztuqRn2N+pJT0XHIrn/RrvPtB479H4R1cD41pp9UeUrAjBwjt+MTnMYVcOgyBmXuvqDsdXbFkPZNut7Wsk/auz7BcxRisU0UEfw/QPLGij3CkgdCuJ9u5RgfwkxIjqBod67dDrdiR7LZ0Ceg+7S83UNKq0HI30HLE7PIndy7c7dCn+K90O3JN4+0vtd9oGfiyyBg6ROX/RNEYZuGllzppHgQP+JDPAZZ04aISju/0tahI7mEeJVjnIhHaSep4gtKG5+CiDCCS3UcC6I6p5N8pyBeHTl8Cg4an3wHiVy/gHhUkosq1LG9pL0fcRncOx/i1iir3KT/IOrgUr/pVL9BQN2u7nIFScjbAtcs+QyajcuE3o+/A0KwPMnx0zLCFFFI3JofQcjbCj3Fj6DrU+/B3TgqczuWPa0n5UCnhS9ANH4nFL3BJFdujg+0txoN0R1IjW57Irkqtpc2Vgmqtfl0alCfxqs5oKC1OUkcrc6aR/96lIfBeKOxXeRzUaNDSDcvuWe8m4/2N7Q2KjkVXK6Jr1v5BXRwvwK3rNwId2CGRcFohjUJjrJg3BjsgF6OgrP5RXD50k/gTnxwElD6aHyouia9Dj1Q/CiUPAYfhoaQXCWZT/XDO1XSeHReoX7EToazwEByUNXC6vg1qlhBRBLHUHIipFMV3696AIwkd+icz4VI5Fxu0laGxlbdH5eCg9wLEbEpaHUgHeTa3IhAoGUJ/R386vaGkscg/ZGg5INRtoRc2rkMTXABZY7CjP2XJ98GNnsdNF/0PAzC+LFBmeUJqZ8gHr/P9au+hJvSv4Ho+pScQDthRCo/+eGVTbOU8RtILtH4Btm2RiUDl+TkGuh31ZOcvg34hyCNO6UBg46tzaD2Fo2+K0Hgf+Nx1OSDkZg1JJuGwR2YvQdgFm//6BuYwQtleqZ9CAnSFogmb5HYYE2O542KbMeT/KD6N5DgM5BcNCGMx6zkWjIRSXgyuRdxhCs5qcF58Fx0yaMVhoRJNCKgyDdiZm6d9NIFwR8qBuZ+Bm7N+BbiUXzt4yLS8bSpOp8+VVYGjQkIsYElF8OWnEhisiYP0FlR8+fjmr31Ir7IZPL+OK2fSySvZ2IRAaf5r8Xygy2sADa3ANjfyoAtKIQWKa9CVE4ltuF9UxDJcYEWwkIFACRaT1LJaenx/0hyOnpSQ8uOepTcQe5rTcQkx7Ury2/P29QwkmN9HZ+zCeKxM9l7+XoUvBQzeFBwD1IuS95L/BgS8NzRIbwZ4ouqoOvMpysQFgLq7OwntTF/uXLpS05xq2R315PkdlVMDymLxAhIPjJqQPE+uCN/Z+2CqnohGmPJ61RwmW2XZZ9gaVKGFFyQe6EHBS+RS5W+md/KIy1mH544zPzCc3+HrjPysxAWCqRnX5eEbjqbRocWL33J9UuzMCV30Y68CqmhJZf/0W1Set7Akmp5AiY6ZNHJlH3pfrhx1cZjLeKmj2t6/4Lc5inPA0t6Qc7mKLqc0W1PvSWvY48x/XbwQ3zFYej95NvvtxwwthPCQkCvsyRolStkXYQPsSM2Ov57iUnuUA+f0qxL95MRITvi5pTSqVMCuel4uoqAqjy0keUIpiWXaT30MedteZvP31Ec+jR97fCfUH4I+iz5aEOT20f1RFiQDsNShrdKQcmTX0TRy+TMHixhBJScP/538jKAIWWB4CrGF5r0vqM5wkKF1OPqDieVnGYkuvkVLjXJ3aQG99EJGoIfoZtD73w0QZBaXPl/3Q69hNDNHbrkCi1uHTa4z5KPfWRhlKn6O7biEFye+OI7zB7fCmFqOsZMurf1omf+YInPQ4ukV2AAlhxxRkOTZOmvgAvF+uVvh/ajxPEICxcyzRxAfKqsruzXzEpe1TS2m0y9O8gPpYpJpuRJfBLHxTOtr8B4pvDpPtLp1LoHFDsiIX7aTic2vWav6hweZZ9d65yq7O1XXbuNXLtkvPyBSq7Arr2nyeVzS17CtSny7CNmTy7B5bYlVdB5em4uwvTo6Bga12xO3pcdl30KcZjFozliByeJEkoCcO3K9d+2GjhWQJiFBS+6H3QYs2xyv3VbfxcKdmsswiKC4+KtQYW7ocOY5TMQVhfN+w1r0eOxNz4VcK1KjLHg8sxnDD5wV7hf8LKbh7ZEmIWFGYw+RNnH3X3Dqi+2YxYlf+2jWipbuAf65vqPtrtj3giE8dLyhgda/9cT3k/iyvZjpq7UjJ2QvwuCfytqm5QxF2GhYGFRd4NbHmx5Vcqr71/4w4jNsoxRygiKgPLfuGqDv8Wdc3sjzCys14DmveaXvRiNoieoYsfKsavhluwfjrSOnzUcYaFiYcHVCP+QoWkXV+6SwaVV8ti3vICq/CD0Xvzud02uv9eGsHCwuaSHBwf7AGu3ydP78RWHMPZ7XzbrP7YLwsLBwsJU4/Z3PzTRkbfpfBxOwmCNXNrk8qi/IKw+6PBA0qwBWJrEeA5Dz7kl2U0uG9wWYeFiYWH6gHbxc6K7j102G2H1Tcehj9zXxfm4C2H1hYXF/wHLrV2K9nLuzQAAAABJRU5ErkJggg==); }

@media (max-width: 768px) {
  .clearfix-extra:after, .clearfix-extra:before {
    content: ' ';
    display: table; }
  .clearfix-extra:after {
    clear: both; } }

@media (max-width: 479px) {
  h1, h2 {
    font-size: 32px; }
  p {
    line-height: 150%;
    font-size: 16px; }
  hr.large {
    margin-top: 30px;
    margin-bottom: 30px; } }
