.section-text-block {
  padding: 100px 0; }
  .section-text-block h4 {
    margin-top: 30px;
    margin-bottom: 50px; }
  .section-text-block p {
    max-width: 540px;
    margin-bottom: 30px; }
  .section-text-block .user-action {
    padding-top: 40px; }

@media (max-width: 1199px) {
  .section-text-block .user-action {
    padding-bottom: 60px; }
  .section-text-block .illustration-wrap {
    text-align: center; }
    .section-text-block .illustration-wrap img {
      max-width: 80%;
      height: auto; } }

@media (max-width: 768px) {
  .section-text-block h4 {
    padding-top: 30px;
    text-align: center; }
  .section-text-block p {
    margin-left: auto;
    margin-right: auto; }
  .section-text-block .user-action {
    padding-bottom: 0; } }
