/* You can add global styles to this file, and also import other style files */

@use "@material/layout-grid/mdc-layout-grid";

html, body { min-height: 100%; }
* { box-sizing: border-box; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }

$grid-unit: 8px;

article {
    img {
        width: 100%; // responsive
        border: 1px solid #9f9f9f;
        cursor: pointer;
    }
}

// Util classes
.fade-in {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.animation-delay {
    animation-delay: 1s;
}

// Animations
@keyframes slideDown {
    0% {
        top: $grid-unit * -9; // initial state
    }
    100% {
        top: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
