/* You can add global styles to this file, and also import other style files */

@use "@material/layout-grid/mdc-layout-grid";

html, body { min-height: 100%; }
* { box-sizing: border-box; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }
