<header>
  <section class="header-content">
    <app-header></app-header>
  </section>
</header>


<main>
  <div class="main-content fade-in animation-delay">
    <h3>To name few things I liked to work on recently…</h3>

    <article>
      <img src="assets/ds-cover.jpg" />
      <h4>Unified Design System for Sportsbook admin tools</h4>
      <p class="lead">Leading the product strategy of the Design System built for our internal and B2B back office applications.</p>
    </article>

    <article>
      <img src="assets/proto-env-cover-2.gif" />
      <h4>Hi-fidelity Prototyping environment for UX/design updates, interactive experiments and user research</h4>
      <p class="lead">Setting up an Angular application with dual-tone and theme (brand) layer support to enhance our design component behaviour and user journeys.</p>
    </article>
    
    <article>
      <img src="https://picsum.photos/1920/1080" />
      <h4>Carousel cards with interactive video thumbnail</h4>
      <p class="lead">Exploring different possibilities to utilize live media for our event cards in pre-match phase.</p>
      <p class="read-more"><a routerLink="/user/bob">Read more <span class="material-symbols-outlined">
        arrow_right_alt
        </span></a></p>
    </article>
  </div>
</main>