$grid-unit: 8px;

header {
    position: sticky;
    height: $grid-unit * 11;  /* content + gaps */
    top: $grid-unit * -2; 
    z-index: 1;
    font-family: 'Open Sans', sans-serif;

    &::before,
    &::after {
        position: sticky;
        content: '';
        display: block;
        height: $grid-unit * 2;
    }

    &::before {
        top: $grid-unit * 7;
        box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f; // mat card shadow
    }

    &::after {
        top: 0;
        background: linear-gradient(white 10%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.4) 70%, transparent);
        z-index: 2;
    }

    .header-content {
        position: sticky;
        top: 0px;
        height: $grid-unit * 9;
        margin-top: $grid-unit * -2;
        z-index: 3;
        background-color: white; // cover shadows
    }
}

main {
    margin: 0 auto;
    padding: $grid-unit * 2;
    width: 800px;
    
    margin-bottom: 48px;
    background-color: white;

    @media (max-width: 840px) {
        width: calc(100vw - #{$grid-unit} * 4);
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
