<p class="intro">Hello, I'm Balázs. I lead a design team and have a passion for using, designing, and building digital user interfaces. 
    Over the past years, I've had fun with several projects. Here are a few of them...
    <!--
    <br><br>Visit my 
    <a href="https://www.linkedin.com/in/balazsfoky/details/experience/" target="_blank">LinkedIn profile page</a> for more info about my experience.
    -->
</p>

<article>
    <h4><a routerLink="/article-multi-layered-tokens">New Design System Component Building Approach</a></h4>
    <img routerLink="/article-multi-layered-tokens" src="assets/token-architecture-cover.jpg" alt="Multi-layered Token Architecture" />
    <p>Driving the tokenization and reconstruction of our UI components to accommodate multi-brand and duo-tone support. 
        Establishing a new design-to-code pipeline to seamlessly integrate tokens into production code.</p>
    <p class="read-more"><a routerLink="/article-multi-layered-tokens">Read more <span class="material-symbols-outlined">
        arrow_right_alt
    </span></a></p>
</article>

<article>
    <h4>Back Office Tools for Sportsbook Management</h4>
    <img src="assets/admin-tools-cover.jpg" alt="Betsson Back office tools" />
    <p>Leading the design team responsible for delivering a wide range of admin tools serving multiple purposes, including Event 
        profiling, Risk monitoring, Betting, User, and Bonus management. These tools are used by our B2B partners and 
        internal members of the company.</p>
</article>

<article>
    <h4><a routerLink="/article-carousel-card">Carousel Cards with Interactive Video Thumbnail</a></h4>
    <img routerLink="/article-carousel-card" src="assets/carousel-video-cover.jpg" alt="Carousel Video Card" />
    <p>Exploring the integration of live media into our event carousel cards on mobile platform supplied by our 3rd party providers.</p>
    <p class="read-more"><a routerLink="/article-carousel-card">Read more <span class="material-symbols-outlined">
    arrow_right_alt
    </span></a></p>
</article>

<article>
    <h4>Unified Design System for Sportsbook Admin Tools</h4>
    <img src="assets/design-system-cover.jpg" alt="Betsson BO DS Figma" />
    <p>Leading the product strategy of the Design System built for our internal and B2B back office applications.</p>
</article>

<article>
    <h4>Hi-Fidelity Prototyping Environment for UX/Design Updates, Interactive Experiments and User Research</h4>
    <img src="assets/proto-env-cover.gif" alt="Hi-fidelity Prototyping Tool" />
    <p>Setting up an Angular application with dual-tone and theme (brand) layer support to enhance our design component behaviour and user journeys.</p>
</article>
