<p class="intro">Hello, my name is Balazs. I'm currently leading a team of four and I like to design &amp; build products. 
    You can find a couple of things here that I did in the past years.
    <br><br>For more info about me feel free to check out my <a href="https://www.linkedin.com/in/balazsfoky/details/experience/" target="_blank">LinkedIn profile page</a>.</p>

<article>
    <h4><a routerLink="/article-carousel-card">Carousel cards with interactive video thumbnail</a></h4>
    <img routerLink="/article-carousel-card"src="assets/carousel-video-cover.jpg" alt="Carousel video card" />
    <p>Exploring the integration of live media into our event carousel cards on mobile platform supplied by our 3rd party providers.</p>
    <p class="read-more"><a routerLink="/article-carousel-card">Read more <span class="material-symbols-outlined">
    arrow_right_alt
    </span></a></p>
</article>

<article>
    <h4>Unified Design System for Sportsbook admin tools</h4>
    <img src="assets/design-system-cover.jpg" alt="Betsson BO DS Figma" />
    <p>Leading the product strategy of the Design System built for our internal and B2B back office applications.</p>
</article>

<article>
    <h4>Hi-fidelity Prototyping environment for UX/design updates, interactive experiments and user research</h4>
    <img src="assets/proto-env-cover.gif" alt="Hi-fidelity prototyping tool" />
    <p>Setting up an Angular application with dual-tone and theme (brand) layer support to enhance our design component behaviour and user journeys.</p>
</article>

<article>
    <h4>Back office tools for internal &amp; B2B Sportsbook management</h4>
    <img src="assets/admin-tools-cover.jpg" alt="Betsson Back office tools" />
    <p>Delivering a wide range of admin tools serving multiple purposes including Event profiling, Risk monitoring, Betting- and User management used by internal personnel and B2B partners.</p>
</article>
