<h3>To name few things I liked to work on recently…</h3>

<article>
    <img src="assets/design-system-cover.jpg" alt="Betsson BO DS Figma" />
    <h4>Unified Design System for Sportsbook admin tools</h4>
    <p>Leading the product strategy of the Design System built for our internal and B2B back office applications.</p>
</article>

<article>
    <img routerLink="/article-carousel-card"src="assets/carousel-video-cover.jpg" alt="Carousel video card" />
    <h4>Carousel cards with interactive video thumbnail</h4>
    <p>Exploring different possibilities to utilize live media for our event cards when it's available from our providers.</p>
    <p class="read-more"><a routerLink="/article-carousel-card">Read more <span class="material-symbols-outlined">
    arrow_right_alt
    </span></a></p>
</article>

<article>
    <img src="assets/proto-env-cover.gif" alt="Hi-fidelity prototyping tool" />
    <h4>Hi-fidelity Prototyping environment for UX/design updates, interactive experiments and user research</h4>
    <p>Setting up an Angular application with dual-tone and theme (brand) layer support to enhance our design component behaviour and user journeys.</p>
</article>
