$grid-unit: 8px;

h3 {
    margin-bottom: $grid-unit * 6;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;

    @media (max-width: 840px) {
        margin-bottom: 32px;
        font-size: 14px;
    }
}

h4 {
    margin: $grid-unit * 2 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;

    @media (max-width: 840px) {
        font-size: 18px;
    }
}

p {
    margin-bottom: $grid-unit * 2;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    @media (max-width: 840px) {
        font-size: 14px;
    }

    &.read-more {
        a {
            color: #252525;
            text-decoration: none;
            box-shadow: inset 0 -1px 0 #9f9f9f;

            .material-symbols-outlined {
                position: relative;
                top: 2px;
                font-size: 18px;

                @media (max-width: 840px) {
                    font-size: 16px;
                }
            }
        }
    }
}