$grid-unit: 8px;

section {
    padding-top: $grid-unit * 8;

    @media (max-width: 840px) {
        padding-top: $grid-unit * 4;
    }

    img {
        margin-bottom: $grid-unit;

        &.bottom-gap {
            margin-bottom: $grid-unit * 2;
        }

        &.no-gap {
            margin-bottom: 0;
        }
    }
}

h3 {
    margin: 0 0 $grid-unit * 2;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.4em;
    font-family: 'Bitter','Open Sans', sans-serif;

    @media (max-width: 840px) {
        font-size: 20px;
    }
}

h4 {
    margin: 0 0 $grid-unit * 2;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2em;
    font-family: 'Bitter', 'Open Sans', sans-serif;

    @media (max-width: 840px) {
        font-size: 18px;
    }
}

p {
    margin-bottom: $grid-unit * 2;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    @media (max-width: 840px) {
        font-size: 14px;
    }

    a {
        color: #252525;
        text-decoration: none;
        box-shadow: inset 0 -1px 0 #9f9f9f;
        transition: all linear 0.25s;

        &:hover {
            color: #000;
            box-shadow: inset 0 -1px 0 #000;
        }
    }

    &.read-more {
        a {
            transition: all linear 0.25s;

            &:hover {
                color: #000;
                box-shadow: inset 0 -1px 0 #000;

                .material-symbols-outlined {
                    left: $grid-unit * -0.25;
                }
            }

            .material-symbols-outlined {
                position: relative;
                top: $grid-unit * 0.25;
                left: 0;
                font-size: 18px;
                transition: left ease 0.25s;

                @media (max-width: 840px) {
                    font-size: 16px;
                }
            }
        }

        &.download {
            a {
                .material-symbols-outlined {
                    top: $grid-unit * 0.25;
                    left: 0;
                    transition: top ease 0.25s;
                }

                &:hover {
                    .material-symbols-outlined {
                        top: $grid-unit * 0.5;
                        left: 0;
                    }
                }
            }
        }
    }
}