<article class="fade-in" id="top">
  <h3>Introducing the Multi-layered Token Architecture to our Design System</h3>
  <p>The objective was to explore different possibilities of live streaming throughout our Sportsbook product 
    with a hypothesis of increasing user engagement for visiting a certain event's detail page or 
    placing a bet based on the information gained from the content of the displayed video.</p>

  
    <section>
      <p class="read-more">
        <a routerLink="/">
          <span class="material-symbols-outlined">
              keyboard_backspace
          </span>
          Back
        </a>
      </p>
    </section>
</article>